.kep-container {

  display: flex;
  justify-content: center; 
  flex-wrap: wrap;

}

.kep-container table {
  width: 30%;
  height:30%; 
  border-collapse: collapse;
  margin: 0 auto; 
  
}


.kep-container td {
  padding: 5px; 
  text-align: center;
  vertical-align: middle; 
 
 
}

.kezdo-kep{
 max-width: 15%;

}
.kep {
  width: 100%; /* A kép szélessége kitölti a cellát */
  height: 100%; /* A kép magassága kitölti a cellát */
  object-fit: contain; /* A kép méretarányos kitöltése a cellában */

}

.kep-elrejtve {
  visibility: hidden;
  width: 100%; 
  height: 100%; 
}





@media (max-width: 1200px) {
  .kep-container table {
    width: 60%;
    height:60%; 
    border-collapse: collapse;
    margin: 0 auto; 
  }
  
}

@media (max-width: 768px) {
  .kep-container table {
    width: 90%;
    height:90%; 
    border-collapse: collapse;
    margin: 0 auto; 
  }
}

@media (max-width: 480px) {
  .kep-container table {
    width: 100%;
    height:100%; 
    border-collapse: collapse;
    margin: 0 auto; 
  }
}

